/*
	2.Reset
		2.3. Variable

 */



//Font color
$base-font-size:14px;
$base-font-family:"Poppins", sans-serif;
$custom-font:'Playfair Display', serif;
$custom-font-2: 'Mr Dafoe', cursive;
$base-font-color:#000;
$color-hover:#eb5050;
$button-color:#000;
$button-hover:#eb5050;

$border-input:1px solid #f1f1f1;

$effect-bg:rgba(0, 0, 0, 0.48);
